# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
.idea/workspace.xml
.gitignore
idea/workspace.xml
gen
target/

